body {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

form > div {
    display: block;
}

#blog-info-form > div {
    display: block;
    width: 95%;
    max-height: 100%;
}

#blog-info-form > div > input {
    width: 100%;
}

#blog-info-form > div > textarea {
    min-width: 100%;
    max-width: 100%;
    height: 80px;
    max-height: 40vh;
}

#blog-background-image {
    width: 70%; 
    height: auto;
    max-width: 80%; 
    max-height: 80%; 
    object-fit: contain;
}

#content-area {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#content-area > section {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    border: 2px solid black;
    border-radius: 2%;
    margin: 5px;
}

#left-section > div {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

#form-content {
    padding: 1%;
    width: 70%;
    max-height: 100%;
}

#form-submit-button {
    margin-top: 10px;
    min-height: 30px;
    width: 95%;
}



