#form-content {
    padding: 1%;
    width: 70%;
}




#form-submit-button {
    min-height: 30px;
    width: 95%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#content-area {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}



#content-area > section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    border: 2px solid black;
    border-radius: 2%;
    margin: 5px;
}

form > div {
    display: block;
}

#blog-info-form > div {
    display: block;
    width: 95%;
}

#blog-info-form > div > input {
    width: 100%;
}

#blog-info-form > div > textarea {
    min-width: 100%;
    max-width: 100%;
    height: 80px;
}