body {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

header {
    height: 10vh;
    border-bottom: 2px solid black;
    margin-bottom: 2px;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#viewmode-button {
    background: none;
    border: none;
    padding-right: 2%;
    cursor: pointer;
    height: 80%;
    align-items: center;
}

#viewmode-button img {
    width: auto; /* Adjust size as needed */
    height: 65px; /* Adjust size as needed */
}

nav > h1 {
    padding: 2%
}

body > section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    border: 2px solid black;
    margin: 2px;
}

.dark-theme {
    background-color: black;
    color: white;
}

.light-theme{
    background-color: white;
    color: black;
}

/* Light theme */
.light-theme > * {
    border-color: black; /* Set border color for all direct children of body */
}

/* Dark theme */
.dark-theme > * {
    border-color: white; /* Set border color for all direct children of body */
}

/* Light theme */
.light-theme #content-area > section {
    border-color: black; /* Set border color for sections within #content-area */
}

/* Dark theme */
.dark-theme #content-area > section {
    border-color: white; /* Set border color for sections within #content-area */
}

footer {
    border-top: 2px solid black;
    padding-top: 20px;
    text-align: center;
    line-height: 25px;
}