:root {
--theme-dark-background-color: rgb(29, 29, 111);
--theme-light-background-color: rgb(186, 244, 253);
--theme-dark-text-color: rgb(255, 255, 255);
--theme-light-text-color: black;
--theme-dark-border-color: white;
--theme-light-border-color: black;
--theme-dark-form-color: rgb(186, 244, 253);
--theme-light-form-color: beige;
}
.dark-theme,
.dark-theme * {
    background-color: var(--theme-dark-background-color);
    color: var(--theme-dark-text-color);
    border-color: var(--theme-dark-border-color);
}

.light-theme,
.light-theme * { 
    background-color: var(--theme-light-background-color);
    color: var(--theme-light-text-color);
    border-color: var(--theme-light-border-color);
}

.light-theme #content-area > section {
    border-color: var(--theme-light-border-color);
}

.dark-theme #content-area > section {
    border-color: var(--theme-dark-border-color);
}

.light-theme input , .light-theme textarea {
    background-color: var(--theme-light-form-color);
}

.dark-theme input , .dark-theme textarea {
    background-color: var(--theme-dark-form-color);
}

.dark-theme input , .dark-theme textarea {
    color: black;
}

.dark-theme #blog-post-card {
    background-color: beige;
}

input , textarea{
    padding: 5px;
}

button {
    padding: 8px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid black;
    margin-bottom: 2px;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > h1 {
    height: 99%;
}

nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100%;
}

nav > div > * {
    margin-right: 20px;
    max-height: 100%;
}

#viewmode-button {
    display: flex;
    width: 5vw;
    min-width: 50px;
    background: none;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

#theme-button-image {
    max-width: 100%; /* Adjust size as needed */
    max-height: 80%; /* Adjust size as needed */
}

main {
    margin-top: 12vh;
}

nav > h1 {
    font-size: xx-large;
    padding: 2%
}

body > section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    border: 2px solid black;
    margin: 2px;
}

/* .dark-theme > header {
    background-color: black;
}

.light-theme > * {
    border-color: black;
}

.dark-theme > * {
    border-color: white;
}

.light-theme #content-area > section {
    border-color: black;
}

.dark-theme #content-area > section {
    border-color: white;
} */

footer {
    border-top: 2px solid black;
    padding-top: 20px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
}